SoapToRest/SoapToRest/Connected Services/DiscountService/Discounts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfProduct.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfProduct.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeList" nillable="true" type="tns:ArrayOfProductHasAttribute" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="groupId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="typeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductHasAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductHasAttribute" nillable="true" type="tns:ProductHasAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductHasAttribute" nillable="true" type="tns:ArrayOfProductHasAttribute" />
  <xs:complexType name="ProductHasAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeId" type="xs:int" />
      <xs:element minOccurs="0" name="productId" type="xs:int" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductHasAttribute" nillable="true" type="tns:ProductHasAttribute" />
</xs:schema>