SoapToRest/SoapToRest/Connected Services/ProductService/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.77/ProductService/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfProduct.Data" />
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetProductDetailsResult" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFromBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsFromBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetProductsFromBusinessResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricesFromProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricesFromProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetPricesFromProductResult" nillable="true" type="q4:ArrayOfPriceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricesFromProductAtBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricesFromProductAtBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetPricesFromProductAtBusinessResult" nillable="true" type="q5:ArrayOfPriceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetProductGroupsResult" nillable="true" type="q6:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetProductCategoriesResult" nillable="true" type="q7:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetProductTypesResult" nillable="true" type="q8:ArrayOfType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="priceReport" nillable="true" type="q9:PriceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportPriceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="product" nillable="true" type="q10:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="product" nillable="true" type="q11:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttributes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetAllAttributesResult" nillable="true" type="q12:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAttributeNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="GetAttributeDetailsResult" nillable="true" type="q13:Attribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="attribute" nillable="true" type="q14:Attribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="attribute" nillable="true" type="q15:Attribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAttributeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>