SoapToRest/SoapToRest/Connected Services/BusinessServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.72/business/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" />
  <xs:import schemaLocation="http://193.10.202.72/business/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessWcf" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessWcf" minOccurs="0" name="businessUser" nillable="true" type="q2:BusinessUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessWcf" minOccurs="0" name="business" nillable="true" type="q3:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" minOccurs="0" name="GetBusinessByIdResult" nillable="true" type="q4:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" minOccurs="0" name="GetBusinessByNameResult" nillable="true" type="q5:ArrayOfBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessWcf" minOccurs="0" name="business" nillable="true" type="q6:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessNameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessNameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBusinessNameByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" minOccurs="0" name="GetBusinessUserResult" nillable="true" type="q7:BusinessUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>