SoapToRest/SoapToRest/Connected Services/AdvertisingService/ServiceAdvertising.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAdvertising" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.78/AdvertisingService/ServiceAdvertising.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.78/AdvertisingService/ServiceAdvertising.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.78/AdvertisingService/ServiceAdvertising.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdvertisingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAdvertising_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_ReadAnnons_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAnnons" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_ReadAnnons_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAnnonsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_CreateAnnons_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnons" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_CreateAnnons_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnonsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_UpdateAnnons_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnnons" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_UpdateAnnons_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnnonsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_DeleteAnnons_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnnons" />
  </wsdl:message>
  <wsdl:message name="IServiceAdvertising_DeleteAnnons_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnnonsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAdvertising">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdvertising/DoWork" message="tns:IServiceAdvertising_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdvertising/DoWorkResponse" message="tns:IServiceAdvertising_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAnnons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdvertising/ReadAnnons" message="tns:IServiceAdvertising_ReadAnnons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdvertising/ReadAnnonsResponse" message="tns:IServiceAdvertising_ReadAnnons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAnnons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdvertising/CreateAnnons" message="tns:IServiceAdvertising_CreateAnnons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdvertising/CreateAnnonsResponse" message="tns:IServiceAdvertising_CreateAnnons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdvertising/UpdateAnnons" message="tns:IServiceAdvertising_UpdateAnnons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdvertising/UpdateAnnonsResponse" message="tns:IServiceAdvertising_UpdateAnnons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnnons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAdvertising/DeleteAnnons" message="tns:IServiceAdvertising_DeleteAnnons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAdvertising/DeleteAnnonsResponse" message="tns:IServiceAdvertising_DeleteAnnons_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAdvertising" type="tns:IServiceAdvertising">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceAdvertising/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAnnons">
      <soap:operation soapAction="http://tempuri.org/IServiceAdvertising/ReadAnnons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAnnons">
      <soap:operation soapAction="http://tempuri.org/IServiceAdvertising/CreateAnnons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnons">
      <soap:operation soapAction="http://tempuri.org/IServiceAdvertising/UpdateAnnons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnnons">
      <soap:operation soapAction="http://tempuri.org/IServiceAdvertising/DeleteAnnons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAdvertising">
    <wsdl:port name="BasicHttpBinding_IServiceAdvertising" binding="tns:BasicHttpBinding_IServiceAdvertising">
      <soap:address location="http://193.10.202.78/AdvertisingService/ServiceAdvertising.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>