SoapToRest/SoapToRest/Connected Services/EventService/service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EventService" />
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DetailedEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="businesses" nillable="true" type="q1:ArrayOfBusiness" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="participants" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailedEvent" nillable="true" type="tns:DetailedEvent" />
  <xs:complexType name="ArrayOfDetailedEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailedEvent" nillable="true" type="tns:DetailedEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailedEvent" nillable="true" type="tns:ArrayOfDetailedEvent" />
  <xs:complexType name="ArrayOfCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categories" nillable="true" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategories" nillable="true" type="tns:ArrayOfCategories" />
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categories" nillable="true" type="tns:Categories" />
  <xs:complexType name="Events">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Events" nillable="true" type="tns:Events" />
  <xs:complexType name="ArrayOfEvents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Events" nillable="true" type="tns:Events" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvents" nillable="true" type="tns:ArrayOfEvents" />
</xs:schema>