SoapToRest/SoapToRest/Connected Services/EventService/service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfProduct.Data" />
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" />
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/EventService.Contracts" />
  <xs:import schemaLocation="http://193.10.202.74/EventWS/service1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EventService" />
  <xs:element name="listEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listEventsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listCategoriesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listParticipantsForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listParticipantsForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listParticipantsForEventResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listBusinessesForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listBusinessesForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listBusinessesForEventResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRandomProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRandomProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfProduct.Data" minOccurs="0" name="getRandomProductResult" nillable="true" type="q5:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRandomBusiness">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRandomBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessWcf.Data" minOccurs="0" name="getRandomBusinessResult" nillable="true" type="q6:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="getEventResult" nillable="true" type="q7:DetailedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="getEventsResult" nillable="true" type="q8:ArrayOfDetailedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTodaysEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTodaysEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="getTodaysEventsResult" nillable="true" type="q9:ArrayOfDetailedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUpcomingEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUpcomingEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="getUpcomingEventsResult" nillable="true" type="q10:ArrayOfDetailedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="getMyEventsResult" nillable="true" type="q11:ArrayOfDetailedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="searchForEventResult" nillable="true" type="q12:ArrayOfDetailedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchForCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchForCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="searchForCategoryResult" nillable="true" type="q13:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="newEvent" nillable="true" type="q14:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="readEventResult" nillable="true" type="q15:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="readEventsResult" nillable="true" type="q16:ArrayOfEvents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="editedEvent" nillable="true" type="q17:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="newCategory" nillable="true" type="q18:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="readCategoryResult" nillable="true" type="q19:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="readCategoriesResult" nillable="true" type="q20:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EventService.Contracts" minOccurs="0" name="editedCategory" nillable="true" type="q21:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createBusinessConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="newBusinessConnection" nillable="true" type="q22:BusinessConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBusinessConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readBusinessConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readBusinessConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="readBusinessConnectionResult" nillable="true" type="q23:BusinessConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readBusinessConnections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readBusinessConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="readBusinessConnectionsResult" nillable="true" type="q24:ArrayOfBusinessConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBusinessConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="editedBusinessConnection" nillable="true" type="q25:BusinessConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBusinessConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBusinessConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBusinessConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="newParticipant" nillable="true" type="q26:Participants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createParticipantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="readParticipantResult" nillable="true" type="q27:Participants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readParticipants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readParticipantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="readParticipantsResult" nillable="true" type="q28:ArrayOfParticipants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EventService" minOccurs="0" name="editedParticipant" nillable="true" type="q29:Participants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateParticipantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteParticipantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>