SoapToRest/SoapToRest/Connected Services/BusinessService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusinessUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Business" nillable="true" type="tns:Business" />
      <xs:element minOccurs="0" name="businessId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessUser" nillable="true" type="tns:BusinessUser" />
  <xs:complexType name="Business">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessUser" nillable="true" type="tns:ArrayOfBusinessUser" />
      <xs:element minOccurs="0" name="adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imageLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verified" type="xs:boolean" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Business" nillable="true" type="tns:Business" />
  <xs:complexType name="ArrayOfBusinessUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessUser" nillable="true" type="tns:BusinessUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessUser" nillable="true" type="tns:ArrayOfBusinessUser" />
</xs:schema>